<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>WebLogData</title>
</head>
<body>
<style>
  body{
    margin:0;
    padding:0;
    font-family: Arial;
  }
  nav{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    padding:10px 90px;
    box-sizing:border-box;
    background-color: rgba(0,0,0,0.6);
    border-bottom:1px solid #fff;
  }
  nav .logo{
    padding:22px 20px;
    height:80px;
    float:left;
    font-size:24px;
    font-weight:bold;
    text-transform: uppercase;
    color:#fff;
    margin-right: 20px;
  }
  nav ul{
    list-style:none;
    float:right;
    margin:0;
    padding:0;
    display:flex;
  }
  nav ul li a{
    line-height: 80px;
    color:#fff;
    padding:12px 30px;
    text-decoration: none;
    font-size:14px;
    font-weight:bold;
    text-transform: uppercase;
    }
    nav ul li a:hover{
        background: rgba(0,0,0,0.7);
        border-radius: 6px;
    }
</style>
<nav>
    <div class="logo">Weblog Data</div>
    <ul>
      <li><a href="/login/admin">Admin</a></li>
    </ul>
</nav>
</body>
</html>